{
    "compiler": "modular",
    "name": "weiwei",
    "version": "0.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
     "scripts/app_index.js",
     "scripts/module/banner.js",
     "scripts/module/detail.js",
     "scripts/module/guestApplication.js",
     "scripts/module/login.js",
     "scripts/module/photoTipsDetail.js",
     "scripts/module/photoTips.js",
     "scripts/module/regist.js",
     "scripts/module/search.js",
     "scripts/module/shoopingCartDetail.js",
     "scripts/module/shopingCart.js",
     "scripts/module/worksAppreciation.js",
     "styles/app_index.scss",
     "styles/module/Application.scss",
     "styles/module/banner.scss",
     "styles/module/detail.scss",
     "styles/module/login_and_regist.scss",
     "styles/module/photoTips.scss",
     "styles/module/photoTipsDetail.scss",
     "styles/module/search.scss",
     "styles/module/shoopingCart.scss",
     "styles/module/shoopingCartDetail.scss"
    ]
}