#products{
  width: 1100px;
  margin: 10px auto;
}
#products li{
  width:260px;
  float: left;
  border:solid 1px #E9E9E9;
  margin-right:10px;
}
#products li span{
  display: block;
  width: 100%;
  text-align:center;
}
#products li em{
  font-size:24px;
  font-family: Arial;
  color:#E4393C;
  display: block;
  margin-left: 20px;
}
#products li p{
  color:#333;
  margin: 10px 0 0 20px;
}
#products li a{
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #DDDDDD;
  text-align: center;
  margin: 20px auto;
  text-decoration: none;
  color:#E4393C;
}
#products li a:hover{
  border: solid 1px #E4393C;
}
.shopcart{
  width:1100px;
  margin: 140px auto 0;
  min-height: 800px;
}
.shopcart h1{
  font-size:18px;
  color:#E4393C;
  border-bottom:solid 4px #E9E9E9;
  padding-bottom: 10px;
}
.shopcart .list-head{
  width: 96%;
  background: #F3F3F3;
  height: 40px;
  line-height: 40px;
  padding:0 2% 0 2%;
}
.shopcart .list-head div{
  float:left;
}
.h1,.c1{width: 50%;}
.h2,.c2{width: 15%;}
.h3,.c3{width: 20%; }
#cart-list .pl{
  width: 100%;
  height: 94px;
  border-bottom:solid 1px #C5C5C5;
  clear: left;
}
#cart-list .pl div{
  float: left;
  height: 94px;
  line-height: 94px;
  background: #FFF4E8;
}
#cart-list div span{
  display: block;
  float: left;
  padding: 5px 0 0 20px;
}
#cart-list div p{
  float: left;
  padding-left: 20px;
  color: #F00;
  margin-right: 40px;
}
#cart-list div span img{
  margin-top: 4px;
  width:80px;
}
.pl a{
  color:#666;
  text-decoration: none;
}
.pl a:hover{
  color:#ff0000;
  text-decoration: underline;
}
/* #cart-list input{
     width: 20px;
     height: 20px;
     border: 0;
     cursor: pointer;
     background: #fff;
 }*/
.ncs-figure-input {
  vertical-align: top;
  display: inline-block;
  width: 165px;
  height:43px;
  position: relative;
  z-index: 1;
}
.ncs-figure-input .input-text {
  color: #333;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
  height: 41px;
  width: 41px;
  padding: 0;
  border: solid 1px #E6E6E6;
}
.ncs-figure-input a {
  font-size: 0;
  background-color: #FFF;
  background:#fff url(/weiwei/img/icon/2014_ncs_public_img.png) no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: #E6E6E6;
  border-width: 1px 1px 1px 0;
  position: absolute;
  z-index: 1;
  left: 44px;
  -webkit-text-size-adjust: none;
}
.ncs-figure-input a.increase {
  background-position: -100px -100px;
  top: 26px;
  cursor: pointer;
}
a.decrease {
  background-position: -120px -100px;
  top: 47px;
  right:1px;
  cursor: pointer;
}
.cart_gather{
  width:1100px;
  border:1px solid #d2d2d2;
  background:#e7e7e7;
  height:46px;
  margin-top:20px;
  line-height: 46px;
  font-size: 14px;
}
.cart_gather input{
  width: 16px;
  height:16px;

}
.gather_right{
  float: right;
}
.gather_right p{
  float: left;
  margin: 0 50px;
}
.gather_right span{
  color:#ff5500;
  margin: 0 4px;
  font-weight: 700;
}
.gather_right em{
  font-size:18px;
  font-weight:bold;
}
.c2 span{
  float: left;
}
.c2 i{
  float: left;
  margin-top: 4px;
}
.gather_right a{
  float: left;
  width:100px;
  height:46px;
  line-height:46px;
  text-align:center;
  font-size:18px;
  color:#fff;
  background:#ee0000;
}
.cartstatue{
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 40px;
}
.cartPrice{
  color:#ff5500;
  font-size:14px;
  font-weight:bold;
}
