body,p,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,fieldset,legend{margin:0;padding:0;}
img{border:0;display:block;}
li{list-style:none;}
a{text-decoration:none;}
body{font:12px "微软雅黑";}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
html,body{height:100%;}
.clear:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
/*----------------------------------*/
